<h1>Post Form</h1>
<%= form_for(@post) do |f| %>
    <p>
        <%= f.label "Title"%>
         <%= f.text_field :title %><br>
    </p>

     <p>

    <%= f.label "Content"%>
    <%= f.text_area :content %> <br>
    </p>

    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |box| %>
    <p>
    <%= box.label %>
    <%= box.check_box%>
    </p>
    <% end %>
    <%= f.fields_for :categories do |category_fields| %>
        <%= category_fields.label :name, "Enter a new category here:"%>
        <%= category_fields.text_field :name %>
    <% end %><br>
    
    
    <%= f.submit %>

<% end %>